// FONT SIZES
$default-font-size: rem(16);

// COLORS
$color-primary: #212529;

$color-white: #fff;

$color-red: #fc2626;

$color-green: #15ff0d;

$color-grey-light: #f3f3f3;
$color-grey-dark: #828282;
