@use "../abstracts" as *;

.blog-preview {
  background-color: rgba($color-white, 0.5);
  color: $color-primary;
  max-width: 60%;
  margin: rem(30) auto;
  padding: rem(12);
  border-radius: rem(3);
  box-shadow: 0 0 rem(5) rgba($color-grey-dark, 0.7);
  position: relative;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 rem(20) rgba($color-grey-dark, 0.3);
  }

  &:active {
    transform: scale(1.06);
    box-shadow: 0 0 rem(12) rgba($color-grey-dark, 0.5);
  }

  &__title {
    align-self: center;
  }

  &__subtitle {
    padding: 0 0 rem(10) rem(10);
  }

  &__body {
    background-color: rgba($color-white, 0.5);
    padding: rem(10);
    border-radius: rem(3);
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: rem(10);

    & > p {
      font-weight: bold;
      font-style: italic;
    }
  }

  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
  }

  &__image {
    width: 100%;
    opacity: 0.5;
  }
}
