@use "../abstracts" as *;

.create-post {
  min-height: 70vh;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    margin: rem(60) auto;

    & > input {
      margin-bottom: rem(20);
      padding: rem(10);
      font-size: rem(18);
    }

    & > button {
      margin-top: rem(20);
      align-self: center;
    }
  }
}
