@use "../abstracts" as *;

.create-post {
  height: 100vh; // TEST

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    margin: 0 auto;
    margin-top: rem(60);

    & > input {
      margin-bottom: rem(10);
      padding: rem(10);
      font-size: rem(18);
    }

    & > button {
      margin-top: rem(10);
      align-self: center;
    }
  }
}
